<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041995980826-ljo8vh335h2a2q6su0lg49atq2tupmu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041995980826-ljo8vh335h2a2q6su0lg49atq2tupmu3</string>
	<key>API_KEY</key>
	<string>AIzaSyD27dN4k-gMYJoJwfK95jc7UMfe57U5T6A</string>
	<key>GCM_SENDER_ID</key>
	<string>1041995980826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monkeyank.newmessagingapp</string>
	<key>PROJECT_ID</key>
	<string>messagingappnew-ff7b9</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingappnew-ff7b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041995980826:ios:d45c762a7f977874</string>
	<key>DATABASE_URL</key>
	<string>https://messagingappnew-ff7b9.firebaseio.com</string>
</dict>
</plist>